USE [master]
GO
/****** Object:  Database [ProgettoParadigmi]    Script Date: 22/03/2024 13:55:00 ******/
CREATE DATABASE [ProgettoParadigmi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProgettoParadigmi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProgettoParadigmi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProgettoParadigmi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProgettoParadigmi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProgettoParadigmi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProgettoParadigmi]
GO
/****** Object:  User [paradigmi]    Script Date: 22/03/2024 13:55:00 ******/
CREATE USER [paradigmi] FOR LOGIN [paradigmi] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Ordini]    Script Date: 22/03/2024 13:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordini](
	[NumeroOrdine] [int] IDENTITY(1,1) NOT NULL,
	[DataOrdine] [datetime] NOT NULL,
	[ClienteEmail] [varchar](100) NOT NULL,
	[IndirizzoConsegna_Citta] [varchar](200) NULL,
	[IndirizzoConsegna_Cap] [varchar](200) NULL,
	[IndirizzoConsegna_Via] [varchar](200) NULL,
	[IndirizzoConsegna_Civico] [varchar](10) NULL,
 CONSTRAINT [PK_Ordini] PRIMARY KEY CLUSTERED 
(
	[NumeroOrdine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Portate]    Script Date: 22/03/2024 13:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portate](
	[Nome] [varchar](50) NOT NULL,
	[Prezzo] [decimal](10, 2) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Portate] PRIMARY KEY CLUSTERED 
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PortateOrdinate]    Script Date: 22/03/2024 13:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PortateOrdinate](
	[Quantita] [int] NOT NULL,
	[OrdinazioneId] [int] NOT NULL,
	[PortataNome] [varchar](50) NOT NULL,
	[Turno] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utenti]    Script Date: 22/03/2024 13:55:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utenti](
	[Email] [varchar](100) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Cognome] [varchar](100) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[Ruolo] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Utenti] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Portate] ([Nome], [Prezzo], [Tipo]) VALUES (N'Antipasto', CAST(8.00 AS Decimal(10, 2)), N'Antipasto')
INSERT [dbo].[Portate] ([Nome], [Prezzo], [Tipo]) VALUES (N'Bevanda', CAST(1.50 AS Decimal(10, 2)), N'Bevande')
INSERT [dbo].[Portate] ([Nome], [Prezzo], [Tipo]) VALUES (N'Contorno', CAST(3.50 AS Decimal(10, 2)), N'Contorno')
GO
INSERT [dbo].[Utenti] ([Email], [Nome], [Cognome], [Password], [Ruolo]) VALUES (N'changeMe@admin.com', N'Admin', N'Admin', N'Adm1n!!', N'Amministratore')
GO
USE [master]
GO
